<div class="container">

  <div class="row">

    <div class="col-8">
      <table class="table table-sm">
        <thead class="thead-light">
        <tr>
          <th></th>
          <th>Equipos</th>
          <th class="th-pt">PT</th>
          <th>PJ</th>
          <th>PG</th>
          <th>PE</th>
          <th>PP</th>
          <th>GFT</th>
          <th>GCT</th>
          <th class="th-local">GFL</th>
          <th class="th-local">GCL</th>
          <th class="th-visitante">GFV</th>
          <th class="th-visitante">GCV</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-4">
      <table class="table table-sm">
        <thead class="thead-light">
        <tr>
          <th></th>
          <th>Jugador</th>
          <th>Equipo</th>
          <th class="th-pt">Goles</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>


      <table class="table table-sm">
        <thead class="thead-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Jugador</th>
          <th scope="col">Equipo</th>
          <th scope="col">Goles</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Leo Messi</td>
          <td>FC Barcelona</td>
          <td>20</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
